/* Grid
===================================================================*/
/* line 10, ../sass/_grid.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 15, ../sass/_grid.scss */
.col {
  background-color: grey;
  border: 1px solid black;
  padding: 0 1em;
  float: left;
  width: 100%;
}

/* line 26, ../sass/_grid.scss */
.row:before,
.row:after {
  content: "";
  display: table;
}

/* line 31, ../sass/_grid.scss */
.row:after {
  clear: both;
}

/* line 35, ../sass/_grid.scss */
.row .row {
  margin: 0 -1em;
  padding-bottom: 0;
}

/* Basic elements
===================================================================*/
/* line 4, ../sass/_styles.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/_styles.scss */
body {
  font-size: 1em;
  font-family: "Lora", serif;
  font-weight: 300;
  line-height: 1.6;
  background-color: white;
  color: #222222;
}

/* line 21, ../sass/_styles.scss */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 30, ../sass/_styles.scss */
a, i {
  text-decoration: none;
  color: #19198c;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
/* line 34, ../sass/_styles.scss */
a:hover, i:hover {
  color: #ff6600;
}

/* line 39, ../sass/_styles.scss */
ul, ol {
  list-style: none;
}

/* Demo stuff
===================================================================*/
/* line 46, ../sass/_styles.scss */
.title {
  text-align: center;
}

/* line 48, ../sass/_styles.scss */
.container {
  background-color: red;
}

/* line 52, ../sass/_styles.scss */
.panel {
  background-color: yellow;
  border: 1px solid black;
}

/* Forms
===================================================================*/
/* line 60, ../sass/_styles.scss */
form {
  font-family: "Lora", serif;
}
/* line 62, ../sass/_styles.scss */
form input, form textarea {
  font-family: "Lora", serif;
  font-size: 1em;
  border: 1px solid #d8d8d8;
  width: 100%;
  padding: 0.25em;
}
/* line 68, ../sass/_styles.scss */
form input:focus, form textarea:focus {
  outline: none;
}
/* line 72, ../sass/_styles.scss */
form textarea {
  resize: none;
  height: 8em;
  vertical-align: top;
}
/* line 77, ../sass/_styles.scss */
form input[type=submit] {
  background-color: #222222;
  border: none;
  color: white;
  transition: all 0.3s ease;
}
/* line 82, ../sass/_styles.scss */
form input[type=submit]:hover {
  background-color: #ff6600;
  cursor: pointer;
}

/* Media queries
===================================================================*/
@media only screen and (min-width: 43.75em) {
  /* line 10, ../sass/_screen.scss */
  .container {
    width: 100%;
  }

  /* line 12, ../sass/_screen.scss */
  .a form input {
    width: 50%;
  }

  /* line 14, ../sass/_screen.scss */
  .b {
    text-align: center;
  }

  /* line 15, ../sass/_screen.scss */
  .b form input {
    width: 50%;
  }

  /* line 17, ../sass/_screen.scss */
  .d, .e {
    width: 50%;
  }
}
@media only screen and (min-width: 56.25em) {
  /* line 23, ../sass/_screen.scss */
  body {
    font-size: 1.125em;
  }

  /* line 24, ../sass/_screen.scss */
  .container {
    width: 66.66667%;
  }

  /* line 26, ../sass/_screen.scss */
  .a, .b {
    width: 50%;
  }

  /* line 27, ../sass/_screen.scss */
  .c {
    width: 33.33333%;
  }
}
@media only screen and (min-width: 75em) {
  /* line 33, ../sass/_screen.scss */
  body {
    font-size: 1.5em;
  }

  /* line 34, ../sass/_screen.scss */
  .container {
    width: 100%;
  }

  /* line 36, ../sass/_screen.scss */
  .a, .b {
    width: 50%;
  }

  /* line 37, ../sass/_screen.scss */
  .c {
    width: 50%;
    margin: 0 auto;
    float: none;
  }
}
