/* Media queries
===================================================================*/

@media only screen and (max-width: em(699)) {

}

@media only screen and (min-width: em(700)) {

  .container { width: col(12); }

  .a form input { width: col(6); }

  .b { text-align: center; }
  .b form input { width: col(6); }

  .d, .e {width: col(6); }

}

@media only screen and (min-width: em(900)) {

  body { font-size: em(18); }
  .container { width: col(8); }

  .a, .b { width: col(6); }
  .c { width: col(4); }

}

@media only screen and (min-width: em(1200)) {

  body { font-size: em(24); }
  .container { width: col(12); }

  .a, .b { width: col(6); }
  .c { width: col(6); margin: 0 auto; float: none; }

}
